@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mystery+Quest&display=swap');

// colors
$bright-1: #FFFFFF;
$bright-2: #e3e1dc; 
$bright-3: #E3E1DC;
$bright-4-transparent: rgba(41, 21, 7, 0.6); // 291507 60%
$bright-5: #E0E0E0;
$bright-6: #BDBDBD;
$bright-7: #F2F2F2;
$dark-1: #000000;
$dark-2: #050709;
$brown-1: #291507;
$brown-1-trasparent: rgba(151, 151, 151, 0.1); // 979797 10%
$brown-2:#544439;
$brown-3: #4D270C;
$yellow-1: #DEC68B;

// fonts
$font-1: 'Montserrat', sans-serif;
$font-2: 'Mystery Quest', cursive;