@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mystery+Quest&display=swap");

// colors
$bright-1: #ffffff;
$bright-2: #e3e1dc;
$bright-3: #e3e1dc;
$bright-4-transparent: rgba(41, 21, 7, 0.6); // 291507 60%
$bright-5: #e0e0e0;
$bright-6: #bdbdbd;
$bright-7: #f2f2f2;
$dark-1: #000000;
$dark-2: #050709;
$brown-1: #291507;
$brown-1-trasparent: rgba(151, 151, 151, 0.1); // 979797 10%
$brown-2: #544439;
$brown-3: #4d270c;
$yellow-1: #dec68b;

// fonts
$font-1: "Montserrat", sans-serif;
$font-2: "Mystery Quest", cursive;
