@use 'variables';

body, html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
  min-height: 100vh;
}

.main {
  margin: 0px 6%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.home-page {
  &--loading {
    height: 0vh;
    overflow: hidden;
  }
}

.cat-page {
  align-self: flex-start;
  margin: 10px auto 50px;

  &--loading {
    height: 0vh;
    overflow: hidden;
  }
}

.popular-cats-page {
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  row-gap: 55px;

    &--loading {
    height: 0vh;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  margin: 20px;
  border-radius: 24px;
  background: variables.$bright-7; 
}
 
::-webkit-scrollbar-thumb {
  border-radius: 24px;
  height: 68px;
  background: variables.$bright-6; 
}

::-webkit-scrollbar-thumb:hover {
  background: #FCD12A; 
}

@media only screen and (min-width: 1440px) {
  .main {
    margin: 0px auto;
    width: 1280px;
  }
}

@media only screen and (max-width: 970px) and (min-width: 550px) {
  .main {
    margin: 0px 6%;
  }
}

@media only screen and (max-width: 550px) {

  .main {
    width: 90%
  }
}


