@use 'variables';

.grade {
  display: flex;
  flex-direction: row;
  
  &__element {
    height: 12px;
    width: 60px;
    border-radius: 8px;
    background-color: variables.$bright-5;
    margin: 4px;
  }
}

@for $i from 1 through 1 {
  .grade--1 .grade__element:nth-child(#{$i}) {
    background-color: variables.$brown-2;
  }
}

@for $i from 1 through 2 {
  .grade--2 .grade__element:nth-child(#{$i}) {
    background-color: variables.$brown-2;
  }
}

@for $i from 1 through 3 {
  .grade--3 .grade__element:nth-child(#{$i}) {
    background-color: variables.$brown-2;
  }
}

@for $i from 1 through 4 {
  .grade--4 .grade__element:nth-child(#{$i}) {
    background-color: variables.$brown-2;
  }
}

@for $i from 1 through 5 {
  .grade--5 .grade__element:nth-child(#{$i}) {
    background-color: variables.$brown-2;
  }
}

.cat-info-card__info-table {
  margin-top: 30px;
  &-property {
    font-family: variables.$font-1;
    font-size: 16px;
    color: variables.$dark-1;
    font-weight: 700;
    min-width: 150px;
  }

  &-value {
    font-family: variables.$font-1;
    font-size: 16px;
    color: variables.$dark-1;
    font-weight: 500;
  }
}

tr {
  height: 37px;
}


@media only screen and (max-width: 900px) and (min-width: 550px) {
  .cat-info-card__info-table {
    margin: 30px auto 0px;
  }

  .grade__element {
    height: 8px;
    width: 32px;
    margin: 3px;
  }
}

@media only screen and (max-width: 550px) {
  .cat-info-card__info-table {
    padding: 0px;
    margin: 30px auto 0px;

    &-property {
      font-size: 14px;
      min-width: 30px;
    }
  
    &-value {
      font-size: 14px;
    }
  }

  .grade__element {
    height: 7px;
    width: 30px;
    margin: 2px;
  }
}