@use 'variables';

.error-message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: variables.$brown-2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  font-size: 24px;
  text-align: center;
  font-family: variables.$font-1;
}
