@use 'variables';

.heading {
  color: variables.$brown-1;
  font-size: 48px; 
  font-family: variables.$font-1;
  font-weight: 700;
  position: relative;
  max-width: 60%;
  padding: 0px 0px 40px;
  
  &--with-line {
    max-width: 100%;
    &::before {
      content: '';
      height: 3px;
      width: 68px;
      border-radius: 77px;
      position: absolute;
      top: -17px;
      background-color: variables.$brown-3;
      display: block;
    }
  }

  &--small {
    font-size: 36px; 
    font-weight: 600;
    max-width: 100%;
    padding: 0px 0px 24px;

    &-bold {
      font-size: 48px; 
      font-weight: 600;
      max-width: 100%;
      padding: 10px 0px 52px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .heading {
    font-size: 18px;

    &--with-line {
      font-size: 40px;
    }

    &--small {
      font-size: 36px;
    }

    &-bold {
      font-weight: 48px;
    }
  }
}