@use "variables";
@use "mixins";

.info-card {
  margin: 100px 108px;
  display: grid;
  max-height: 490px;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 7fr 4fr 3fr;
  grid-template-areas:
    "info pic1 pic2"
    "info pic3 pic2";
  column-gap: 28px;
  row-gap: 28px;

  &__info {
    grid-area: info;
    align-self: center;
  }

  &__pic-wrapper:nth-child(2) {
    height: 100%;
    width: 100%;
    grid-area: pic1;
    float: right;
  }

  &__pic-wrapper:nth-child(3) {
    height: 100%;
    width: 100%;
    grid-area: pic2;
  }

  &__pic-wrapper:nth-child(4) {
    height: 100%;
    width: 100%;
    grid-area: pic3;
  }

  &__pic {
    &--1 {
      float: right;
      max-height: 168px;
    }

    &--2 {
      float: left;
      max-height: 385px;
    }

    &--3 {
      float: right;
      max-height: 294px;
    }

    &--1,
    &--2,
    &--3 {
      @include mixins.img;

      &:hover {
        @include mixins.img-hover($spread: 0px);
        box-shadow: none;
      }
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .info-card {
    margin: 100px 108px;
    display: grid;
    grid-template-rows: 3fr 1fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      "info info"
      "pic1 pic2"
      "pic3 pic2";
    column-gap: 28px;
    row-gap: 28px;

    &__info {
      margin-bottom: 30px;
    }
    max-height: 900px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 621px) {
  .info-card {
    margin: 100px 0px;
    display: grid;
    grid-template-rows: 3fr 1fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      "info info"
      "pic1 pic2"
      "pic3 pic2";
    column-gap: 28px;
    row-gap: 28px;

    &__info {
      margin-bottom: 30px;
    }
    max-height: 900px;
  }
}

@media only screen and (max-width: 620px) and (min-width: 381px) {
  .info-card {
    margin: 60px 0px 20px;
    display: grid;
    grid-template-rows: 4fr 1fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      "info info"
      "pic1 pic2"
      "pic3 pic2";
    column-gap: 10px;
    row-gap: 10px;
    max-height: none;

    &__info {
      margin-bottom: 40px;
    }

    &__pic {
      &--1 {
        max-height: 105px;
      }

      &--2 {
        max-height: 242px;
      }

      &--3 {
        max-height: 184px;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .info-card {
    margin: 60px 0px 20px;
    display: grid;
    grid-template-rows: 4fr 1fr 2fr;
    grid-template-columns: 6fr 5fr;
    grid-template-areas:
      "info info"
      "pic1 pic2"
      "pic3 pic2";
    column-gap: 10px;
    row-gap: 10px;
    max-height: none;

    &__pic {
      &--1 {
        max-height: 100px;
      }

      &--2 {
        max-height: 212px;
      }

      &--3 {
        max-height: 170px;
      }
    }
  }
}
